body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("/static/img/fon.png");

  /* Full height */
  height: 200%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
/* background-size: cover */
}
