.bg {
  /* The image used */
  background-image: url("/static/img/fon.png");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
/* background-size: cover */
}