{% extends 'base.html' %}
{% block body %}
<h1>{{ title }}</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email", placeholder="без изменений") }}<br>
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.username.label }}<br>
        {{ form.username(class="form-control", placeholder="без изменений") }}<br>
        {% for error in form.username.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", placeholder="без изменений") }}<br>
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p> {{ form.regen}}{{ form.regen.label }}
        {{ form.token.label }}<br>
        {{ form.token(class="form-control", placeholder="без изменений") }}<br>
        {% for error in form.token.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.privilege.label }}<br>
        {{ form.privilege(class="custom-select", placeholder="без изменений") }}<br>
        {% for error in form.privilege.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.score.label }}<br>
        {{ form.score(class="form-control", placeholder="без изменений") }}<br>
        {% for error in form.score.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.role.label }}<br>
        {{ form.role(class="form-control", placeholder="без изменений") }}<br>
        {% for error in form.role.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}