{% extends 'base.html' %}
{% block body %}
   <div class="jumbotron bg-info">
        <h1 class="display-4">Правила мультиплеера</h1>
<p class='lead'>При подключении игрок получает одну из 3 ролей (модель поведения, которой он будет придерживаться во время игры). Вот
    краткие цели для каждой группы персонажей:</p>
<ol>
<li><p class="lead">
    Обыватель. Каждому жителю города необходимо пройти тестирование на зараженность коронавирусом. Это возможно сделать
    при входе в здание больницы, выбор соответствующей опции доступен на внутреннем терминале. После получения
    результата игрок должен прочитать рекомендации по профилактике или предписание по защите от коронавируса. Затем
    игрок может либо свободно перемещаться по карте (при отрицательном результате), либо должен оставаться дома и
    соблюдать режим самоизоляции. Во время нахождения дома игрок может сделать заказ продуктов или лекарств, используя
    соответствующий терминал. Необходимо помнить, что заражение продолжается при нахождении вне дома. Вероятность
    заражения=100% - это факт заражения.
</p></li>
<li><p class="lead">
    Полицейский. Эти герои зараженного города призваны поддерживать порядок в городе, следить за соблюдением режима
    самоизоляции граждан. У каждого полицейского есть встроенная автоматическая система, которая показывает статус
    жителей, находящихся поблизости. Зеленая метка означает, что тестирование показало отрицательный результат. Красная
    – положительный результат, предписана самоизоляция. Серый – житель не прошел тестирование. Сканер может работать
    ограниченное время, перезарядка также занимает некоторое время. При обнаружении нарушителя полицейский может
    задержать его, для этого необходимо 3 раза нажать кнопку задержания при касании нарушителя. Это можно сделать один
    раз в 5 секунд.
</p></li>
<li><p class="lead">
    Волонтер. Эти бескорыстные люди считают свои долгом помогать жителям на самоизоляции. Они могут просматривать и
    выбирать заказы в своем офисе. Затем они должны выполнить этот заказ в течение ограниченного времени. Доставка
    заказа осуществляется до порога, то есть необходимо выбрать имя заказчика на терминале при входе в жилой дом.
    Таким образом, этот режим игры призван донести важность соблюдения самоизоляции, мер предосторожности.
    Берегите себя и своих близких!
</p></li>
</ol>
    </div>

    {% endblock %}